[submodule "core"]
	path = core
	url = https://android.googlesource.com/platform/system/core
[submodule "extras"]
	path = extras
	url = https://android.googlesource.com/platform/system/extras
[submodule "avb"]
	path = avb
	url = https://android.googlesource.com/platform/external/avb
[submodule "mkbootimg"]
	path = mkbootimg
	url = https://android.googlesource.com/platform/system/tools/mkbootimg
[submodule "libbase"]
	path = libbase
	url = https://android.googlesource.com/platform/system/libbase
[submodule "libziparchive"]
	path = libziparchive
	url = https://android.googlesource.com/platform/system/libziparchive
[submodule "logging"]
	path = logging
	url = https://android.googlesource.com/platform/system/logging
[submodule "fmtlib"]
	path = fmtlib
	url = https://android.googlesource.com/platform/external/fmtlib
